# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js and Build
/.next/
/out/
/build
/dist

# Testing
/coverage

# Capacitor & Android
/android/app/build
/android/build
/android/.gradle
/android/.gradle_home
/android/.android_home
/android/.kotlin
/android/local.properties
/android/.idea
/android/capacitor-android
/android/capacitor-cordova-android-plugins

# Mobile App Binaries
*.apk
*.aab
*.keystore
*.jks

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment Files
.env
.env*.local
.env.sample

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
.artifacts/
